        
/* body {
 background-color: rgb(247, 247, 247);
}  */
#navbar {
    width: 100%;
    display: flex;
    margin: auto;
    position: fixed;
    background-color: #FFF;
    margin-top: -15px;
    margin-left: 80px;
    
}

#c-logo>a>img {
    width: 65%;
    margin-left: 0px;
    margin-top: 8px;
    cursor: pointer;
}


#search {
    width: 60%;
    display: flex;
    align-items: flex-start;
    margin: 10px -40px;
    padding: 4px;
}

input[type="text"]{
    font-size: 15px;
    font-weight: 100;
    color: rgb(71, 71, 71);
}

.material-symbols-outlined {
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#half-div {
    width: 40%;
    display: flex;
    text-align: right;
   
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -120px;
    margin-top: 0px;
}

#info > p {
    font-size: 11px;
    font-family: Roboto, sans-serif;
    line-height: 15.7143px;
    text-decoration: underline solid rgb(71, 71, 71);
    text-align: right;
    cursor:pointer;
}
#Second-div {
    display: flex;
    margin-left: 20px;
}
#Second-div> p {
    font-size: 12px;
    font-family: Roboto, sans-serif;
    line-height: 17.7143px;
    text-decoration: underline solid rgb(71, 71, 71);
    text-align: right;
    margin-top: 15px;
    cursor:pointer;
}

#guest>h3 {
    margin-left: -110px;
    margin-top: 35px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700px;
    color: rgb(71, 71, 71);
    line-height: 20px;
    text-align: right;
    box-sizing: border-box;
    cursor:pointer;
}

.fa {
    margin-top: 17px;
    margin-right: 5px;
    font-size: 12px;
}
#cart{
    margin-top: 25px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 20px;
    color:#f98d29;
    cursor:pointer;
}

#login-cart-details{
    border:1px solid rgb(167, 167, 167);
    width: 70%;
    margin: auto;
    margin-top: 3px;
    display: flex;
}
.LoginForm {
 font-family: sans-serif;
 width: 60%;
 margin:50px 0px 30px 30px;
 padding: 20px;
 
}
.subtitle {
 text-align: left; 
 font-weight: bold;
 font-size: medium;

}
.subtitle  a {
 font-size:20px;
 padding: 5px;
 color: #f7941D;
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 11px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  .loginBtn-facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
    width: 25%;
    height: 27px;
  }
  .loginBtn-facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn-facebook:hover,
  .loginBtn-facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  .loginBtn-google {
    background: #4285f4;
    width: 25%;
    height: 27px;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .loginBtn-google:before {
    border-right: #4285f4 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn-google:hover,
  .loginBtn-google:focus {
    background: #4285f4;
  }
.btn-text {
 margin: 0;
}

.or {
 text-align: center;
 font-weight: bold;
 border-bottom: 2px solid rgb(245 239 239);
 line-height:1px;
 margin: 25px 0;
 color: black;
}

.email-login {
 display: flex;
 flex-direction: column;
}
.email-login label {
 color: rgb(170 166 166);
}

input[type="text"],
input[type="password"] {
 padding: 6px 6px;
 margin-top: 8px;
 margin-bottom: 15px;
 border: 1px solid #ccc;
}

#btn {
 background-color: #f7941D;
 color: white;
 padding: 6px 6px;
 margin-top: 10px;
 margin-bottom: 20px;
 width: 100%;
 border: none;
}

form > p {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
form > p a{
    color:black;
}
form > p :hover{
    color:#f7941D;
}
#cartinfo{
    /* border:1px solid rgb(133, 133, 133); */
    width:35%;
    margin: 50px 10px 20px 10px;;
}
#cartinfo > p {
    height: 30px;
    margin:10px 10px 0px 10px;
    text-align: center;
    margin-top: 20px;
}
#Total-off > h4{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700px;
    color: #455A64;
}
#Total-off > h3 {
    color: #0E9A75;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700px;


}
#editcart{
    border: 1px solid #f7941D;
    width: 95%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #f7941D;
    padding: 10px;
    margin-bottom: 10px;
}
#Cart-total > h2{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700px;
    color: #455A64;
}

form > h6{
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
    color:#455A64
}
#logo > img {
    width:17%;
    margin-left: 155px;
    margin-top: 20px;
}
#logo > h2{
    text-align: center;
    font-size: 20px;
}
#logo > p{
    text-align: center;
    font-size: 12px;
} 
#company-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap:40px;
    background-color: rgb(232, 231, 231);

    
}
#sc{
    margin-top:40px
}
#policies{
    margin-top: 40px;
}
ul > h2{
    margin-top: -55px;
    font-size: 17px;
    border: 0px;
}
ul{
    color:#f7941D;
    list-style: none;
    font-size: 15px;
}
ul li{
    color: rgb(4, 4, 4);
    text-decoration: none;
    font-size: 13px;
}

ul:nth-child(2){
    margin-top: -20px;
}
ul:nth-child(4){
    margin-top: 40px;
}
ul:nth-child(5){
    margin-top: -60px;
}