#navbar {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #fff;
    margin: auto;
    margin-top: -10px;

}

#c-logo>a>img {
    width: 50%;
    margin-left: 150px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



#search {
    width: 60%;
    display: flex;
    align-items: flex-start;
    margin: 10px -20px;
    padding: 4px;
}

input[type="text"]{
    font-size: 15px;
    font-weight: 100;
    color: rgb(71, 71, 71);
}

.material-symbols-outlined {
    margin-top: 15px;
    margin-left: -20px;
    cursor: pointer;
}

#half-div {
    width: 50%;
    display: flex;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-top: 0px;
}

#info > p {
    font-size: 11px;
    font-family: Roboto, sans-serif;
    line-height: 15.7143px;
    text-decoration: underline solid rgb(71, 71, 71);
    text-align: right;
    cursor:pointer;
    

}

#Second-div {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
}

#Second-div> p {
    font-size: 12px;
    font-family: Roboto, sans-serif;
    line-height: 17.7143px;
    text-decoration: none rgb(71, 71, 71);
    text-align: right;
    margin-top: 15px;
    cursor:pointer;
    display: block;
}
#Second-div > p > a {
    text-decoration: none;
    color:#000000
}

#guest>h3 {
    margin-left: -110px;
    margin-top: 35px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700px;
    color: rgb(71, 71, 71);
    line-height: 20px;
    text-align: right;
    box-sizing: border-box;
    cursor:pointer;
    display: block;
}

.fa {
    margin-top: 17px;
    margin-right: 5px;
    font-size: 12px;
}
#cart{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 20px;
    color:#f98d29;
    cursor:pointer;

}
#navigation{
    margin-top: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: fixed;background-color: #fff;
    width: 100%;
    
}
#navigation > ul{
    display: flex;
    justify-content: center;
    align-items: center;
   list-style: none;

}
#navigation > ul >a {
    padding-left: 3rem;
    margin-top: 20px;
    font-size: 11px;
    font-family: Roboto,sans-serif;
    line-height: 40px;
    text-align: center;
    cursor:pointer;
    text-decoration: none;
    color: #000000;

}
#navigation > ul >li {
    padding-left: 3rem;
    margin-top: 20px;
    font-size: 11px;
    font-family: Roboto,sans-serif;
    line-height: 40px;
    text-align: center;
    cursor:pointer;
    
}

#category{
    font-family: Roboto,sans-serif;
    font-size: 13px;
    line-height: 38px;
    margin-bottom: 13px;
    text-decoration: none;
    background-color: transparent;
    border: 0px solid;
    cursor:pointer;
    
} 

#imgs{
    width: 80%;
    margin: auto;
    
}


img{
    width: 100%;
    margin-top: 50px;
    
}

#imgs > button{
    position: absolute;
    margin-top: 13%;
    background-color: transparent;
    border: 0px solid;
    color:#f98d29;
    font-size: 20px;
   text-decoration: none;
}
 #imgs>button:nth-child(2){
    left: 10%;
    color:#f98d29;
}
 #imgs > button:nth-child(3){
    right: 10%;
    color:#f98d29;
}
 #line{
    width:80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -20px;
 }
h5{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto,sans-serif;
    text-decoration: none rgb(51,51,51);
    
}
h5.background {
    position: relative;
    z-index: 1;
}
   h5:before {
        border-top: 1px solid #000000;
        content:"";
        margin: 0 auto;
        position: absolute; 
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span { 
        background: #fff; 
        padding: 0 15px; 
    }
    
    #products{
        width: 80%;
        margin: auto;
        display: flex;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 400px;
        gap:60px
        
    }
    
   
    #fast-moving-products > img{
        width: 260px;
        height: 260px;
        
    }
    
    #fast-moving-products > #rating{
        margin-left: 10px;
        margin-right: 30px;
    
    }
    #rating > p{
        font-size: 12px;
        font-family: Roboto,sans-serif;
        line-height: 20px;
        width:100%;
        

    }
#button{
    display: flex;
    justify-content: space-evenly ;
    text-align: right;
    margin-bottom: -10px;
}
    #button > button{
        border-radius: 3px;
        background-color: rgb(60,193,1);
        width: 25%;
        height: 20px;
        border: none;
        
    }
    #button > button >p{
        font-size: 11px;
        color: #fff;
        text-align: center;
        
    }
    #button > button:nth-child(2){
        background-color: #f98d29;
    }
    #button > button:nth-child(3) {
        background-color: #ffff;
        
    }
    #button > button:nth-child(3) > p{
        color: #f98d29;
        border: 1px solid #f98d29;
    }
    
    
    #fast-moving-products > #price{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    } 
    #fast-moving-products > #price > h6{
        color:#f98d29;
        font-size: 14px;
        line-height: 14px;
    }

    #fast-moving-products > #price > p{
        color:#008A00;
        font-size: 14px;
        font-family: Roboto,sans-serif;
        line-height: 14px;
    }
   
    #company-logos{
        width: 80%;
        margin:auto ;
    }

    #futured{
        display: flex;
        width: 80%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,auto);
        margin: auto;
        justify-content: space-between;
       
    }
    #futured > div >img {
        width: 30%;
        margin-left: 30px;
    }

    #futured > #cap{
        width: 30%;
        margin-top: -30px;
    }
    #futured > #cap > p{
       
        margin-top: 30px;
        margin-left: 30px;
    }
    #futured > div > h5{
        color: #f98d29;
        font-size: 13px;
        font-family: Roboto,sans-serif;
    }
    #company-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap:40px;
        background-color: rgb(254, 254, 254);
    
        
    }
    #sc{
        margin-top:40px
    }
    #policies{
        margin-top: 40px;
    }
    ul > h2{
        margin-top: -55px;
        font-size: 17px;
        border: 0px;
    }
    ul{
        color:#f7941D;
        list-style: none;
        font-size: 15px;
    }
    ul li{
        color: rgb(4, 4, 4);
        text-decoration: none;
        font-size: 13px;
    }
    
    ul:nth-child(2){
        margin-top: -20px;
    }
    ul:nth-child(4){
        margin-top: 40px;
    }
    ul:nth-child(5){
        margin-top: -60px;
    }

    #company-info > form {
        margin-top: -100px;
        margin-left: 20px;
    }
    #company-info > form > #Email{ 
        border:none;
        background-color: #fff;
        border-radius: 3px;
        font-size: 13px;
    }
    #company-info > form > #subs{
        border-radius: 3px;
        background-color: #f7941D;
        font-size: 13px;
        
        color: #fff;
        margin-left: -4px;
    }

    #more {
        width: 100%;
        margin: 40px 30px 0px 80px ;
       
    }
    #more > h6{
        font-size: 16px;
        font-weight: 500;
        color: #f98d29;
    }
    #more > p{
        font-size: 12px;
        line-height: 17px;
    }
