
    #navbar {
        width: 80%;
        display: flex;
    }

    #c-logo>img {
        width: 45%;
        margin-left: 150px;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


    #search {
        width: 60%;
        display: flex;
        align-items: flex-start;
        margin: 10px -10px;
    }

    input[type="text"]{
        font-size: 15px;
        font-weight: 100;
        color: rgb(71, 71, 71);
    }

    .material-symbols-outlined {
        margin-top: 15px;
        margin-left: -15px;
        cursor: pointer;
    }

    #half-div {
        width: 50%;
        display: flex;
    }

    #info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
        margin-top: 0px;
    }

    #info > p {
        font-size: 11px;
        font-family: Roboto, sans-serif;
        line-height: 15.7143px;
        text-decoration: underline solid rgb(71, 71, 71);
        text-align: right;
        cursor:pointer;

    }

    #Second-div {
        display: flex;
        margin-left: 20px;
    }

    #Second-div> p {
        font-size: 12px;
        font-family: Roboto, sans-serif;
        line-height: 17.7143px;
        text-decoration: underline solid rgb(71, 71, 71);
        text-align: right;
        margin-top: 15px;
        cursor:pointer;
    }

    #guest>h3 {
        margin-left: -110px;
        margin-top: 35px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 700px;
        color: rgb(71, 71, 71);
        line-height: 20px;
        text-align: right;
        box-sizing: border-box;
        cursor:pointer;
    }

    .fa {
        margin-top: 17px;
        margin-right: 5px;
        font-size: 12px;
    }
    #cart{
        margin-top: 30px;
        margin-left: 20px;
        font-size: 18px;
        line-height: 20px;
        color:#f98d29;
        cursor:pointer;

    }
    #navigation{
        
        height: 60px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        
    }
    #navigation > ul{
        display: flex;
        justify-content: center;
        align-items: center;
       list-style: none;

    }
    #navigation > ul > li{
        padding-left: 3rem;
        margin-top: 20px;
        font-size: 11px;
        font-family: Roboto,sans-serif;
        line-height: 40px;
        text-align: center;
        cursor:pointer;
    }
   
    #category{
        font-family: Roboto,sans-serif;
        font-size: 13px;
        line-height: 38px;
        margin-bottom: 13px;
        text-decoration: none;
        background-color: transparent;
        border: 0px solid;
        cursor:pointer;
        
    } 

    #imgs{
        width: 80%;
        margin: auto;
    }


    img{
        width: 100%;
        margin-top: 50px;
        
    }

    button{
        position: absolute;
        margin-top: 13%;
        background-color: transparent;
        border: 0px solid;
        color:#f98d29;
        font-size: 20px;
       text-decoration: none;
    }
    button:nth-child(2){
        left: 10%;
        color:#f98d29;
    }
    button:nth-child(3){
        right: 10%;
        color:#f98d29;
    }
 
 

